[submodule "1659"]
	path = 1659
	url = https://github.com/dataculturegroup/1659-food-sculpture-website.git
[submodule "ourcup"]
	path = ourcup
	url = git@github.com:dataculturegroup/our-cup.git
[submodule "our-own-terms"]
	path = our-own-terms
	url = https://github.com/dataculturegroup/us-politics-weekly-terms
