{% assign trimmed_author_name = author_name | strip %}
{% assign author = site.authors | where: 'name', trimmed_author_name | first %}
<div class="author-bio">
  <div class="row">
    <div class="col-sm-2">
      {% if author.image | author['image']%}
         <img src="{{ site.baseurl }}/static/img/authors/{{author.image | author['image']}}" alt="{{author.name}}" class="author-img" width="100%">
      {% endif %}
    </div>
    <div class="col-sm-10">
       <em><a href="{{ site.baseurl }}{{author.url}}">{{author.name}}</a></em>
       <p>{{ author.bio }}</p>
       {% if author.email %}
         <p><a href="mailto:{{author.email}}">{{author.email}}</a></p>
       {% endif %}
       {% if author.twitter %}
         <p><a href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a></p>
       {% endif %}
    </div>
  </div>
</div>
